.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: whitesmoke;
  box-shadow: #14131B;
}

.menu-options {
  display: flex;
  gap: 20px;
}

.user-info {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.subtitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.update-button {
  background-color: #7cb9e8;
  color: black;
  margin-top: 15px;
}

img{
  align-content: center;
}
.image-container {
  text-align: center;
  padding-top: 20px;
}
