<mat-toolbar class="toolbar">
  <img src="https://i.imgur.com/GrOEn9y.png" width="100px">
  <div class="menu-options">
    <a class="button-menu" mat-button (click)="goToTraveler();">INICIO</a>
    <a class="button-menu" mat-button (click)="goToFindKeeper();">BUSCAR KEEPER</a>
    <a class="button-menu" mat-button (click)="goToMessenger();">MENSAJERIA</a>
    <a class="button-menu" mat-button><img src="https://i.postimg.cc/Fs9Z3g3V/usuario-1.png" style="width: 3em;" ></a>
    <a class="button-menu" mat-button (click)="goToLogin();">Cerrar sesión</a>
  </div>
</mat-toolbar>
<div class="user-info">
  <mat-card>
    <mat-card-header>
      <mat-card-title class="title">Información del Usuario</mat-card-title>
    </mat-card-header>
    <div class="image-container">
      <img src="https://cdn-icons-png.flaticon.com/512/3135/3135768.png" width="100px">
    </div>
    <mat-card-content class="subtitle">
      <mat-card-subtitle><b>Nombres:</b> {{name}}</mat-card-subtitle>
      <mat-card-subtitle><b>Apellidos:</b> {{lastName}}</mat-card-subtitle>
      <mat-card-subtitle><b>Día de Nacimiento:</b> {{birthdate}}</mat-card-subtitle>
      <mat-card-subtitle><b>Teléfono:</b> {{phone}}</mat-card-subtitle>
      <mat-card-subtitle><b>Correo Electrónico:</b> {{email}}</mat-card-subtitle>
      <button mat-button style="color: black; background-color: #7cb9e8" class="button">Actualizar información</button>
    </mat-card-content>
  </mat-card>
</div>
