<mat-toolbar class="toolbar">
  <img src="https://i.imgur.com/GrOEn9y.png" width="100px">
  <div class="menu-options">
  <a mat-button  [routerLink]="'/sign-up-keeper'">Register</a>
  <mat-divider [vertical] ="true" [inset]="true"></mat-divider>
  <a *ngIf="getCurrentUserEmail()==null" mat-button [routerLink]="getSignInLink()">Sign-In</a>
  <div *ngIf="getCurrentUserEmail">
    <a mat-button> {{ getCurrentUserEmail() }}</a>
    <a mat-button (click)="signOut()">Sign-Out</a>
  </div>
  </div>
</mat-toolbar>
<mat-card class="contenedor-principal" >
  <mat-card-content class="contenedor">

    <br><br>
    <mat-label  class="letter1"><b>Elije donde</b></mat-label>
    <br><br>
    <mat-label  class="letter2"><b>Hospedarte</b></mat-label>
    <br><br>
    <mat-label style="text-align: left">Encuentra le mejor lugar para ti</mat-label>

  </mat-card-content>
</mat-card>
<mat-toolbar>
  <div *ngIf="getCurrentTokenUser">
    <a mat-button> {{ getCurrentTokenUser() }}</a>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>
