<div style="height: 100vh;">
    <mat-toolbar class="toolbar">
      <img src="https://i.imgur.com/GrOEn9y.png" width="100px">
      <div class="mat-spacer"></div>

      <span class="example-spacer"></span>
      <div fxShow="true" fxHide.lt-md="true">
        <a  class="buttonnav" mat-button >INICIO</a>
        <a  class="buttonnav" mat-button (click)="goToFindHouse()">BUSCAR CASAS</a>
        <a class="buttonnav" mat-button (click)="goToMessenger()">MENSAJERIA</a>
        <a mat-button  (click)="goToProfile()"><img src="https://i.postimg.cc/Fs9Z3g3V/usuario-1.png" style="width: 3em;" ></a>
      </div>
    </mat-toolbar>



    <mat-card class="contenedor-principal" >
      <mat-card-content class="contenedor">

        <br><br>
        <mat-label  class="letter1"><b>Elije donde</b></mat-label>
        <br><br>
        <mat-label  class="letter2"><b>Hosperdarte</b></mat-label>
        <br><br>
        <mat-label style="text-align: left">Ubicación</mat-label>
        <mat-form-field >
          <input matInput [(ngModel)]="title" type="text" placeholder="Ubicación" class="input" >
        </mat-form-field> <button mat-button style="background-color: #14131B;color: white"> BUSCAR UN HOSPEDAJE</button>

      </mat-card-content>
    </mat-card>

    <mat-card style="border-radius: 0">
      <mat-card-content class="contenedor2">

        <br><br>
        <mat-label  style="font-size: 25px;text-align: center;color: #14131B"><b>El lugar perfecto para ti esta más cerca que nunca</b></mat-label>
        <br><br>
        <mat-label  style="font-size: 25px;text-align: center;color: #FF7A00"><b>Lugares disponibles</b></mat-label>
        <br><br>

        <mat-card>
          <mat-card-content style="text-align: center; box-shadow: transparent; border-radius: 0">
            <div class="card-item">
              <a href="/page-not-found">
                <img src="https://i.imgur.com/baLPDsw.png" class="imagen1" style="max-width: 210px; margin-left: 15px; margin-top: 20px">
              </a>
              <div class="card-text">BRASIL</div>
            </div>
            <div class="card-item">
              <a href="/page-not-found">
                <img src="https://i.imgur.com/1JPW4Rv.png" class="imagen1" style="max-width: 210px; margin-left: 15px; margin-top: 20px">
              </a>
              <div class="card-text">ESPAÑA</div>
            </div>
            <div class="card-item">
              <a href="/page-not-found">
                <img src="https://i.imgur.com/ElFxDf6.png" style="max-width: 210px; margin-left: 15px; margin-top: 20px">
              </a>
              <div class="card-text">COLOMBIA</div>
            </div>

          </mat-card-content>
        </mat-card>
        <br><br>
      </mat-card-content>
    </mat-card>
</div>
